.blog_card {
    width: 100%;
    padding: 20px;
    margin: 20px auto;

    &:hover {
        color: $accent-color-1 !important;
        text-decoration: none;
        cursor: pointer;
    }

    .meta-data {
        font-weight: 300;

        span {
            margin-right: 20px;
        }
    }
}

.filter {
    .card {
        margin: 20px auto;
        background-color: $background-color-darken-1;
    }
}