.project-card {
    .body {
        padding: 20px;
        display: flex;
        flex-direction: column;

        .links {
            .btn {
                margin: 10px 20px;
            }
        }
    }

    .card-media {
        width: 100%;
        height: 100%;
    }

    margin: 20px auto;
}