#projects {
    padding: 10px;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 50px auto;
        text-align: center;
    }

    #projects-container {
        width: 100%;
    }
}