.badge {
    padding: 5px 20px;
    font-size: 16px;
    margin: 5px;
    background-color: lighten($color: $accent-color-5, $amount: 10%);
    color: black;
    cursor: pointer;

    &:hover {
        background: lighten($color: $accent-color-5, $amount: 20%);
    }

    &.deep-learning {
        background-color: $accent-color-1;

        &:hover {
            background-color: lighten($accent-color-1, 10%);
        }
    }

    &.data-science {
        background-color: $accent-color-1;

        &:hover {
            background-color: lighten($accent-color-1, 10%);
        }
    }

    &.computer-vision {
        background-color: $accent-color-2;

        &:hover {
            background-color: lighten($accent-color-2, 10%);
        }
    }

    &.internship {
        background-color: $accent-color-3;

        &:hover {
            background-color: lighten($accent-color-3, 10%);
        }
    }
}