$primary-color: #36C7D0;
$accent-color-1: #F0D64A;
$accent-color-2: #4ACFAC;
$accent-color-3: #72BCE0;
$accent-color-4: rgb(246, 105, 199);
$accent-color-5: rgb(255, 179, 92);

$colab-color: #F49C05;
$colob-color-lighten: lighten($colab-color, 10%);
$github-color: black;

$background-color: rgba(40, 42, 54, 100%);
$background-color-darken-1: darken($background-color, 5%);
$background-color-lighten-1: lighten($background-color, 5%);
$background-color-lighten-2: lighten($background-color, 10%);

// font
$base-font: 'Roboto';
$light-font: $base-font,
300,
sans-serif;
$regular-font: $base-font,
400,
sans-serif;
$regular-font: $base-font,
500,
sans-serif;
$bold-font: $base-font,
700,
sans-serif;