$primary-color: #36C7D0;
$accent-color-1: #F0D64A;
$accent-color-2: #4ACFAC;
$accent-color-3: #72BCE0;
$accent-color-4: rgb(246, 105, 199);
$accent-color-5: rgb(255, 179, 92);

$background-color-darken-1: rgb(25, 27, 34);
$background-color: rgba(40, 42, 54, 100%);
$background-color-lighten-1: #303341;
$background-color-lighten-2: #414455;

// font
$base-font: 'Roboto';
$light-font: $base-font,
300,
sans-serif;
$regular-font: $base-font,
400,
sans-serif;
$regular-font: $base-font,
500,
sans-serif;
$bold-font: $base-font,
700,
sans-serif;